body {
    font-family: 'Roboto', sans-serif;
}

#visualize.VerticalBarVisual .col,
#visualize.InvertedVerticalBarVisual .col {
    padding: 0 3px;
}

.progress.progress-horizontal,
.progress.progress-vertical {
    background-color: transparent;
    border-radius: 0;
}

.progress.progress-horizontal {
    height: 30px;
}

.progress.progress-vertical {
    min-height: 400px;
    align-items: flex-end;
}

.InvertedVerticalBarVisual .progress.progress-vertical {
    align-items: flex-start;
}

.progress.progress-horizontal .progress-bar {
    border-radius: 0 .25rem .25rem 0;
    align-items: start;
    padding: 0 3px;
}

.progress.progress-vertical .progress-bar {
    border-radius: .25rem .25rem 0 0;
    width: 100%;
    justify-content: flex-end;
    transition: height .6s ease;
}

.InvertedVerticalBarVisual .progress.progress-vertical .progress-bar {
    justify-content: flex-start;
}