<div class="card text-dark bg-light">
    <div class="card-body">
        <h5 class="card-title">Bubble Sort</h5>
        <p class="card-text">
            <a href="https://en.wikipedia.org/wiki/Bubble_sort" target="_blank" rel="noopener noreferrer">Bubble
                Sort</a> is a
            simple sorting algorithm that repeatedly steps through the list, compares adjacent elements and swaps them
            if they
            are in the wrong order.The pass through the list is repeated until the list is sorted. The algorithm, which
            is a
            comparison sort, is named for the way smaller or larger elements "bubble" to the top of the list. Although
            the
            algorithm is simple, it is too slow and impractical for most problems
        </p>
    </div>
</div>