<div class="card text-dark bg-light">
    <div class="card-body">
        <h5 class="card-title">Heap Sort</h5>
        <p class="card-text">
            Heap Sort can be thought of as an improved selection sort that uses the heap data structure rather than a
            linear-time search to find the maximum or minimum element. It is an in-place sorting algorithm that is not
            stable and has a somewhat slower running time than Quicksort in practice.
            <br/><br/>
            The heapsort algorithm can be divided into two parts. In the first step, a heap is built out of the data.
            The heap is often placed in an array with the layout of a complete binary tree. In the second step, a sorted
            array is created by repeatedly removing the largest element from the heap (the root of the heap), and
            inserting it into the array. The heap is updated after each removal to maintain the heap property. Once all
            objects have been removed from the heap, the result is a sorted array.
        <ol>
            <li>Call the buildMaxHeap() function on the list. Also referred to as heapify(), this builds a heap from a
                list in O(n) operations.
            </li>
            <li>Swap the first element of the list with the final element. Decrease the considered range of the list by
                one.
            </li>
            <li>Call the <em>siftDown()</em>, also called <em>maxHeapify()</em> function on the list to sift the new
                first element to its appropriate index in the heap.
            </li>
            <li>Go to step (2) unless the considered range of the list is one element.</li>
        </ol>

        </p>
    </div>
</div>