<div class="card text-dark bg-light">
    <div class="card-body">
        <h5 class="card-title">Merge Sort</h5>
        <p class="card-text">
            Merge Sort is an efficient, stable sorting algorith that makes use of the divide and conquer strategy.
            Conceptually the algorithm works as follows:
        <ol>
            <li>Divide the unsorted list into <em>n</em> sublists, each containing one element(a list of one element is
                considered sorted)
            </li>
            <li>Repeatedly merge sublists to produce new sorted sublists until there is only one sublist remaining. This
                will be the sorted list.
            </li>
        </ol>
        </p>
    </div>
</div>