<div class="card text-dark bg-light">
    <div class="card-body">
        <h5 class="card-title">Quick Sort</h5>
        <p class="card-text">
            Quick Sort is an efficient, in-place sorting algorithm that in practice is faster than MergeSort and
            HeapSort. However,
            it is not a stable sorting algorithm, meaning that the relative positioning of equal sort items is not
            preserved.Quicksort is a divide and conquer algorithm. Quicksort first divides a large array into two
            smaller sub-arrays: the low elements and the high elements. Quicksort can then recursively sort the
            sub-arrays. The steps are:
        <ol>
            <li>Pick an element, called a pivot, from the array. This is usually done at random.</li>
            <li><em>Partitioning:</em> reorder the array so that all elements with values less than the pivot come
                before the pivot, while all elements with values greater than the pivot come after it (equal values can
                go either way). After this partitioning, the pivot is in its final position. This is called the <em>partition</em>
                operation.
            </li>
            <li>Recursively apply the above steps to the sub-array of elements with smaller values and separately to the
                sub-array of elements with greater values.
            </li>
        </ol>
        The base case of the recursion is an array of size zero or one, which are sorted by definition.
        </p>
    </div>
</div>