<div class="card text-dark bg-light">
    <div class="card-body">
        <h5 class="card-title">Shell Sort</h5>
        <p class="card-text">
            Shell Sort also know as Shell's method is a generalization of insertion sort where elements gap distance
            apart are compared rather than adjacent elements. The method starts by sorting pairs of elements far apart
            from each other, then progressively reducing the gap between elements to be compared. Starting with far
            apart elements, it can move some out-of-place elements into position faster than a simple nearest neighbor
            exchange. The running time of Shellsort is heavily dependent on the gap sequence it uses. For many practical
            variants, determining their time complexity remains an open problem. It is in-place sorting algorithm that
            is not stable.
        </p>
    </div>
</div>